input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.bg-gray {
  background-color: #8d8b8b;
}

.rdw-editor-main {
  background-color: #8d8b8b;
  color: #eee;
  min-height: 200px;
  padding: 10px;
}

.form-check-input:focus {
  outline: none;
  box-shadow: none;
}

#flexSwitchCheckDefault:focus {
  outline: none !important;
  box-shadow: none !important;
}

.link-edit {
  color: #343a40 !important;
}

.card-grid-3,
.card-grid-4,
.card-grid-5 {
  width: 100%;
}

@media (min-width: 768px) {
  .card-grid-3 {
    width: 32.5%;
  }
  .card-grid-4 {
    width: 24.5%;
  }
  .card-grid-5 {
    width: 19.5%;
  }
}
